# Auxiliary and backup files
**/*~
**/*.backup
**/*.out
**/*.aux
**/*.log
**/*.dvi
**/*.gz
**/*.listing

# Auxiliary documents
notes/Week\ 1/inpainting.ipynb

# Prive directories
eval/
exams/

# Sage files
**/*.sage-chat
**/*.sage-jupyter

# Other directories
**/.ipynb_checkpoints
